POSTGRES_HOST=localhost
POSTGRES_USER=db_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=vector_db
POSTGRES_PORT=5432

CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=your_password
CLICKHOUSE_DB=mpstats

# Путь к конкретному Excel файлу с артикулами
EXCEL_FILE_PATH=/path/to/excel_files/Артикул.xlsx
