# Виртуальное окружение
.venv/
venv/
ENV/

# Python кэш
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/

# Файлы дистрибутива
*.egg-info/
.installed.cfg
*.egg

# Файлы логов
*.log
logs/
log/

# Секретные данные
.env
creds.json
uv.lock

# Данные
input/
output/
excel_files/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Системные файлы
.DS_Store
Thumbs.db

# Игнорируем Jupyter Notebook файлы
.ipynb